<div class="users-container">
  <h2> Showing all Users</h2>
  <div class="users-cards-container">
    <mat-card color="primary" class="user-card mat-elevation-z8"
                    *ngFor="let user of users">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{user.firstName}}&nbsp;&nbsp;{{user.lastName}}</mat-card-title>
                      <!-- <mat-card-subtitle>{{ user.email}}</mat-card-subtitle> -->
                    </mat-card-header>
                    <img mat-card-image class="user-card-image" src="{{user.image}}" alt="Profile Photo">
                    <mat-card-content>
                        <p>Contact Info:</p>
                        <strong>Email:</strong>&nbsp;&nbsp;{{ user.email}}<br />
                        <strong>Phone Number:</strong>&nbsp;&nbsp;{{ user.phoneNumber}}<br />
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button color="primary" (click)="openUserDialog(user)">Update</button>
                      <button mat-button color="warn" (click)="deleteuser(user._id)">Delete</button>
                    </mat-card-actions>
    </mat-card>
    </div>
  <button class="add-button" (click)="openUserDialog()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
